
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Mango Tango-A-Go-Go</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <script type="text/javascript">

      function saveFunction() {

        var GameScore = Parse.Object.extend("GameScore");
        alert("1");
        var gameScore = new GameScore();

        gameScore.set("score", 1337);
        gameScore.set("playerName", "Joe");
        gameScore.set("cheatMode" false);

        gameScore.save(null, {
            success: function(gameScore) {
            // Execute any logic that should take place after the object is saved.
            alert('New object created with objectId: ' + gameScore.id);
            },
            error: function(gameScore, error) {
            // Execute any logic that should take place if the save fails.
            // error is a Parse.Error with an error code and message.
            alert('Failed to create new object, with error code: ' + error.message);
            }
        });
      }

    </script> 

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Important Dates</a></li>
            <li role="presentation"><a href="#">Foods & Recipes</a></li>
            <li role="presentation"><a href="#">Complaints</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>BAE HOUSE</h1>
        <p class="lead">Welcome to the BAE House website! </p>
      </div>

      <div class="row posts">
        <div class="col-lg-8">

          <button onclick="saveFunction()">Click</button>
          <form method="post">
            <input type="text" name="name">
            <input type="submit">
          </form>
        </div>

        <div class="col-lg-4">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
